setuptools
#conda-build >=3.1.2
jinja2
requests
pycryptodome
gitpython
pygithub
ruamel.yaml
#conda-forge-pinning
#vsts-python-api
toolz
msrest
# run: conda install -c conda-forge vsts-python-api conda-build
